#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1;
}

.img-fit-cover {
	object-fit: cover;
}
.custom-link {
	color: black;
	text-decoration: none;
}
.custom-link:hover {
	color: black;
	text-decoration: underline;
}
