name: Build and Deploy to Cloud Run
on:
    push:
        branches:
            - main
        paths:
            - server/**
            - .github/**

defaults:
    run:
        working-directory: ./server

env:
    PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_ID }} # Google Cloud project id
    GAR_LOCATION: europe-west4 # Artifact Registry location
    SERVICE: e-commerce # Cloud Run service name
    REGION: europe-west4 # Cloud Run service region
    REGISTRY: cloud-run-deploy

jobs:
    test:
        name: Running tests
        runs-on: ubuntu-latest
        env:
            DATABASE_URL: ${{ secrets.DATABASE_URL }}
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run db:generate
            - run: npm run lint
            - run: npm run test

    deploy:
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Google Auth
              id: auth
              uses: "google-github-actions/auth@v3"
              with:
                  credentials_json: "${{ secrets.GC_CREDENTIALS  }}"

            # Authenticate Docker to Google Cloud Artifact Registry
            - name: Docker Auth
              id: docker-auth
              uses: "docker/login-action@v3"
              with:
                  registry: ${{ env.GAR_LOCATION }}-docker.pkg.dev
                  username: _json_key
                  password: ${{ secrets.GC_CREDENTIALS  }}

            - name: Build and Push Container
              run: |-
                  docker build -t "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REGISTRY }}/${{ env.SERVICE }}:${{ github.sha }}" ./
                  docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REGISTRY }}/${{ env.SERVICE }}:${{ github.sha }}"

            - name: Deploy to Cloud Run
              id: deploy
              uses: google-github-actions/deploy-cloudrun@v3
              with:
                  service: ${{ env.SERVICE }}
                  region: ${{ env.REGION }}
                  image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REGISTRY }}/${{ env.SERVICE }}:${{ github.sha }}
